.col-1 {width: 8.33%;}
          .col-2 {width: 16.66%;}
          .col-3 {width: 25%;}
          .col-4 {width: 33.33%;}
          .col-5 {width: 41.66%;}
          .col-6 {width: 50%;}
          .col-7 {width: 58.33%;}
          .col-8 {width: 66.66%;}
          .col-9 {width: 75%;}
          .col-10 {width: 83.33%;}
          .col-11 {width: 91.66%;}
          .col-12 {width: 100%;}

body{
	margin: 0;
	overflow-x: hidden; 
	background-color: #f7f2eb;
}
.LayoutOne{
	background-color: #f0fafc;
}
.LayoutTwo{
	background-color: #f2ebf7;
}
    .header{
	   position: fixed;
	   margin-right: 0;
	   margin-top: 0;
	   background-color: white;
	   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}
	.TopLeftLogo, .HotelName, .nav{
		float: left;
        margin: 0;
	}
	.TopLeftLogo{
		margin-top: 1%;
		margin-left: 2%;
	}
    .Logo{
    	width: 100px;
    }
    .HotelName{
    	width: 130px;
    }
    .Name{
    	padding-left: 20%;
    	padding-top: 15%;
    	width: 90%;
    }
    nav{
    	width: 100%;
    }

ul {
   width: 100%;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 100px;
  margin-top: 2%;
  font-size: 110%;
  overflow: hidden;
  text-transform: uppercase;
  
}

nav li {
  display: inline-block
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-family: Helvetica Neue;
}

nav li a:hover {
  box-shadow: inset 200px 0 0 0 lavender;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.Sign{
	margin-top: 32px;
	display: inline-block;

}

.SignUp{
	text-decoration: none; 
	color: mediumpurple;
	border: 2px solid mediumpurple;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 40px;
}
.SignUp:hover{
	background-color: mediumpurple;
	color: #ffffff;

}
.SignIn{
	text-decoration: none; 
	color: palevioletred;
	border: 2px solid palevioletred;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 40px;
}
.SignIn:hover{
	background-color: palevioletred;
	color: #ffffff;

}
.Left{
	margin-top: 120px;
	padding: 20px;
	margin-left: 2%;
	display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  background-color: #fcfbf0;
}
h2 { 
  border: 1px solid #c2a791;
  padding: 5px;
  background-color: #f2e1c4;
  text-align: left;
  border-width: 3.5px;        
}
.Right{
	display: inline-block;
   padding: 0%;
	float: right;
	margin-top: 9.5%;
	margin-right: 10%;
}

.Telecon{
	width: 50px;
	float: left;
}
.Tele{
	padding-top: 2.5%;
	padding-left: 13%;
}
.MainDishes{
	float: left;
	display: inline-block;
}

.Yogurt{
	width: 100%;
}
.Wtfn{
	width: 100%;
}
.FNBs{
	width: 100%;

}
.Fruits{
	width: 100%;
}